<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card border-danger">
      <div class="card-header bg-danger text-white">
        <h2 class="card-title"><i class="fa fa-exclamation-triangle"></i> <%= title %></h2>
      </div>
      <div class="card-body">
        <p class="card-text"><%= message %></p>
        <a href="/" class="btn btn-primary">返回首页</a>
      </div>
    </div>
  </div>
</div> 